body, html {
  height: 100%;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.krabiHeader {
  /* The image used */
  background-image: url('/assets/images/header-krabi.jpg');
  /* Full height */
  height: 100vh;
  /* opacity: 0.65; */
}

.background-dark-opac {
  background-color: rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-item {
  padding: 0 0 20px 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume-station {
  margin-bottom: 10px;
}

.resume-years {
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px 5px 15px;
  display: inline-block;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}